<form (ngSubmit)="submitSearch()">
  <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Digite sua busca">
  <button type="submit">Buscar</button>
</form>



<!-- <div class="container">
  <form>
    <input type="text" placeholder="Nome ou ID do Pokemon.">
    <input type="submit" value="Buscar">
  </form>

  <div class="pokemon-list">
    <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/239.gif" alt="Pokémon 1">
    <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/239.gif" alt="Pokémon 2">
    <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/239.gif" alt="Pokémon 3">
    <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/239.gif" alt="Pokémon 4">
  </div>
</div> -->
